$breakpoints: (small: 420px, medium: 768px, large: 1024px);

h1 {
  text-transform: uppercase;
}

.questions {
  span {
    font-weight: bold;
    + span {
      font-weight:normal;
      + span:before {
        content: '=>';
        padding: 0 0.25em;
      }
    }
  }
}

.question {
  list-style:none;
  padding:0;
  margin:0 0 2rem;
}

@include media("<=small") {
  .cards {
    flex-direction: column;
  }
}

@include media(">small", "<=large") {
  .cards {
    flex-wrap: wrap;
  }
}